body {
  margin: 0px;
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif
}

.header {
  display: inline-block;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
  color: white;
  font-size: x-large;
  background-color: #182b49;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container > h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto 10px auto;
}

.action-button {
  cursor: pointer;
  border-radius: 5%;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  align-self: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin: 5px;
}

.button-row #add-subject,
.button-row #save,
.modal #cancel {
  background-color: #00629B;
}

.button-row #submit,
.modal #save-exit {
  background-color: #BF8C13;
}

.button-row #submit:disabled {
  background-color: #747678;
}

.action-button:hover {
  background-color: #182b49 !important;
}

.action-button:focus {
  outline: none !important;
  border: 2px solid black;
  margin: 3px
}

.action-button p {
  color: white;
  font-weight: bold;
  font-size: larger;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.subject {
  display: flex;
  font-size: larger;
  border: 1px solid black;
  margin: 10px 20px 10px 20px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
}

.subject span {
  padding: auto 5px auto 5px;
}

.subject-title-display {
  width: 35%;
}

.subject-title-display h2 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.subject-info-display {
  width: 40%;
}

.subject-info-display div {
  padding: 2px;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.subject-type-display {
  text-decoration: underline;
}

.subject-day-display {
  font-style: italic;
}

.subject-color-display {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: center;
}

.subject-color {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.remove-subject {
  display: flex;
  width: 5%;
  justify-content: flex-end;
  padding-top: 2px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 500px;
  background-color: white;
  border-radius: 5px;
}

.modal-header, .modal-footer {
  padding: 10px;
}

.modal-header {
  display: flex;
  align-items: baseline;
  position: relative;
}

.modal-header > * {
  position: absolute;
}

.modal-header > input {
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 2px solid grey;
  font-size: xx-large;
  width: 250px;
  padding-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  left: 0;
}

.modal-header > input:focus {
  border-bottom: 2px solid black;
}

.dd-wrapper {
  left: 325px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dd-header {
  border: 0.2px solid black;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 5px;
  background: transparent;
  height: 40px;
  width: 130px;
  display: flex;
  align-items: center;
}

.dd-header-title {
  font-size: medium;
  width: 85%;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dd-arrow {
  font-size: medium;
  margin-left: 2px;
  margin-top: 2px;
  justify-content: center;
}

.dd-list {
  width: 130px;
  border: 0.2px solid black;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 2px;
  background: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dd-row {
  display: flex;
  justify-content: center;
}

.dd-row + .dd-row {
  margin-top: 10px;
}

.dd-item {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid black;
}

.dd-item + .dd-item {
  margin-left: 14px;
}

.modal-footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  padding: 10px;
}