body {
  margin: 0px;
  background-color: #DFE2E6;
  font-family: 'Source Sans Pro', sans-serif
}

.header {
  display: inline-block;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
  color: white;
  font-size: x-large;
  background-color: #182b49;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container > h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto 10px auto;
}

.button-row button {
  cursor: pointer;
  border-radius: 5%;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  align-self: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin: 5px;
}

.button-row .add-subject,
.button-row .save {
  background-color: #00629B;
}

.button-row .submit {
  background-color: #BF8C13;
}

.button-row .submit:disabled {
  background-color: #747678;
}

.button-row button:hover {
  background-color: #182b49;
}

.button-row button:focus {
  outline: none !important;
  border: 2px solid black;
  margin: 3px
}

.button-row button p {
  color: white;
  font-weight: bold;
  font-size: larger;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.subject {
  display: flex;
  font-size: larger;
  /* background-color: #C1C3C7; */
  border: 1px solid black;
  margin: 10px 20px 10px 20px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
}

.subject span {
  padding: auto 5px auto 5px;
}

.subject-title-display {
  width: 35%;
}

.subject-title-display h2 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.subject-info-display {
  width: 40%;
}

.subject-info-display div {
  padding: 2px;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.subject-type-display {
  text-decoration: underline;
}

.subject-day-display {
  font-style: italic;
}

.subject-color-display {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: center;
}

.circle-color {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid black;
}

.remove-subject {
  display: flex;
  width: 5%;
  justify-content: flex-end;
  padding-top: 2px;
}